[Unit]
Description=uWSGI instance to serve ns2-skill
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/user/ns2-skill
Environment="PATH=/home/user/ns2-skill/venv/bin"
ExecStart=/home/user/ns2-skill/venv/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target
